body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.radio-group input[type="radio"] {
    display: none; 
}

.color-guess {
    display: flex;
    align-items: center;
    margin-bottom: 50px; 
}

.color-block {
    width: 50px;
    height: 50px; 
    display: inline-block;
    margin-right: 10px; 
}


.radio-group label {
    display: inline-block;
    border: 2px solid #ccc;
    text-align: center;
    padding: 8px;
    width: 20px;
    margin: 6px;
    cursor: pointer;
    font-size: 20px;
}

.radio-group input[type="radio"]:checked + label {
    background-color: rgb(78, 149, 255); 
}

.navbar {
    padding: 0;
    margin: 0;
}

.buttondark {
    padding: 0;
    background: none;
    outline: none;
    border: none; 
    cursor: pointer; 
}



.buttondark .lightmodephoto {
    outline: none;
    background-color: transparent; 
    padding: 2px;
    padding-bottom: 10px;
    cursor: pointer;
    border: none;
}


.lightmodephoto {
    background-color: transparent; 
    padding: 2px;
    padding-bottom: 10px;
    cursor: pointer;
}



.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color:  rgb(54, 134, 255);
    color: #fff;
    height: 40px;
}

.menu a{
    text-decoration: none;
}


.logo {
    font-size: 22px;
    color: white;

}

.menu {
    padding-top: 10px;
    display: flex;
    gap: 2em;
    font-size: 20px;
}


.menu li {
    color: rgb(54, 134, 255);
    padding: 2px 20px;
    list-style: none;
}


.services {
    position: relative;
}

.dropdown {
    background-color: rgb(54, 134, 255);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 40px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}

.howtoplay_title {
    color: rgb(54, 134, 255);
    padding: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


body {
    text-align: center;
}

#gobacknewbutton {
    margin: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }

}


.dark-mode {
    background-color: rgb(36, 36, 36);
    color: white;
    .navbar {
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        background-color:  rgb(0, 46, 114);
        color: #fff;
    }
    .settingsmenu {
        margin: auto;
        width: auto;
        background-color: rgba(0, 43, 142, 0.445);
    
    }
    .snip1533 {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        color: #ffffff;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin: 35px 10px 10px;
        max-width: 310px;
        min-width: 250px;
        position: relative;
        text-align: center;
        width: 100%;
        background-color: #3f3f3f;
        border-radius: 5px;
        border-top: 5px solid  rgb(54, 134, 255);
      }

      #testimonial-form-2 {
        max-width: auto;
        margin: auto;
        padding: 20px;
        background-color: #404040;
        border: 1px solid #b5b5b5;
        border-radius: 8px;
        margin-right: 20px;
      }
      
      #testimonial-form-2 h2 {
        color: #fefefe;
        font-family:'Poppins', sans-serif;
        font-size: 20px;
        padding-bottom: 20px;
      }

      #userTestimonialForm-2 label {
        margin-top: 10px;
        margin-bottom: 5px;
        color: #d8d8d8;
        font-size: 20px;
      }
      #userTestimonialForm-2 {
        margin: auto;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .snip1533 h3{ 
        color: rgb(165, 165, 165);
    }
}

.nav-links a {
    color: white;
}

.darkmodphoto {
    padding-right: 2px;
    padding-bottom: 10px;
}


#settingicon{
    margin: auto;
    background: none;
    outline: none;
    border: none; 
    cursor: pointer; 
}

.buttondark {
    padding: 0%;
    background: none;
    outline: none;
}

.lightmodephoto {
    background-color: white;
}


.themesbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 30px;
}

.shape {
    width: 200px;
    height: 200px;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    margin: 5px;
    position: relative;
}

#shape1 {   
    background-color: blue;
}

#shape2 {
    background-color: red;
}

#shape3 {
    background-color: green;
}

#shape4 {
    background-color: orange;
}

.shape p {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    color: white;
    transition: color 1s;
}


#startgame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 30px;
}

.maincontainer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.game-container {
    margin: auto;
    width: 600px;

}

.shape {
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
}

.guess-container {
    float: right;
    text-align: right;
    margin: auto;
}

label {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}


.white-background {
    background-color: white;
    color: white;
}

.bluelable {
    color: blue;
    border: 1px solid red;
}



#result {
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color:  rgb(54, 134, 255);
}


#result2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    width: 150px;
    color: rgb(126, 178, 255);
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.newer {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.radio-group input[type='radio'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px #999;
    transition: box-shadow 0.3s ease;
}

.radio-group input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

.radio-group input[type='radio']:checked:before {
    background:  rgb(54, 134, 255);
}



.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid  rgb(54, 134, 255);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: rgb(54, 134, 255);
  content: "\263B";
  font-family: 'Poppins', sans-serif;;
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 500;
  margin: 0 0 20px;
}

#startbuttondiv {
    padding: 10px;
    margin-bottom: 10px;
}


#startgame {
    align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Poppins', sans-serif;;
  height: 48px;
  justify-content: center;
  line-height: 10;
  list-style: none;
  overflow: hidden;
  padding-left: 40px;
  padding-right:40px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#startgame:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#startgame:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#startgame:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


#checkGuess {
float: left;
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  margin: 0;
  min-height: 26px;
  min-width: 20px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

#checkGuess:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}



.menu-icon {
    display: none; 
    cursor: pointer;
}
.settings-container{
    margin: auto;
}


#footer { 
    margin: auto;
    text-align: left;
    font-family:'Poppins', sans-serif;
}


.soundsmenu {
    font-family:'Poppins', sans-serif;
    padding: 50px;
}



.soundsmenu button {
    padding: 20px;

}


.settingsmenu {
    margin: auto;
    width: auto;
    background-color: rgba(0, 76, 255, 0.626);

}


#howtoplaygame {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    margin: 20px;
    flex: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#howtoplaygame p{
    padding: 10px;
}
#paragraph {
    color: white;
}


.cookie-consent {
    font-family:'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: none;
}

.cookie-consent p {
    margin: 0;
}

.cookie-consent a {
    color: #fff;
    text-decoration: underline;
}

.cookie-consent button {
    background-color: #4c59af;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}



#testimonialsnew{
    display: inline-block;
    margin: auto;
}


#testimonial-form-2 {
    max-width: auto;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;

}

#testimonial-form-2 h2 {
color: #333;
font-family:'Poppins', sans-serif;
font-size: 20px;
}

#userTestimonialForm-2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

#userTestimonialForm-2 label {
margin-top: 10px;
margin-bottom: 5px;
color: #555;
font-size: 20px;
}

#userTestimonialForm-2 textarea,
#userTestimonialForm-2 input {
width: 100%;
padding: 8px;
margin-bottom: 10px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

#userTestimonialForm-2 button {
background-color:  rgba(0, 76, 255, 0.626);
color: #fff;
padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
}

#userTestimonialForm-2 button:hover {
background-color:  rgba(0, 30, 100, 0.626)
}
  

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(54, 134, 255);
        z-index: 1;
        text-align: center;
    }

    .nav-links li {
        padding: 15px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
    }
    .shape {
        width: 70px;
        height: 70px;
        display: inline-flex;
        align-items: center; 
        justify-content: center;
        margin: 2px;
        position: relative;
        margin-bottom: 5px;
        margin-top:5px ;
    }
    .shape p {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        color: white;
        transition: color 1s;
    }
    #checkGuess {
          background-color: #0a6bff;
          border-radius: 4px;
          border: 0;
          box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          display: inherit;
          font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          font-size: 18px;
          font-weight: 700;
          line-height: 14px;
          margin: 0;
          min-height: 10px;
          min-width: 10px;
          padding: 16px 20px;
          position: relative;
          text-align: center;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: baseline;
          transition: all .2s cubic-bezier(.22, .61, .36, 1);
        }
        
        #checkGuess:hover {
          background-color: #065dd8;
          transform: translateY(-2px);
        }    
        .maincontainer {
            flex-direction: column; /* Stack containers vertically on smaller screens */
        }
    
        .game-container,
        .guess-container,
        .settings-container {
            width: 100%; /* Make containers take full width on smaller screens */
            margin: 0; /* Remove margin to fit the full width */
        }
        #result2 {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: bold;
            height: 15px;
            width:250px;
            color: rgb(126, 178, 255);
            text-align: center;
            background-color: #000000;
            padding: 5px;
            border-radius: 100px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: auto;
            margin-bottom: 25px;
        }
        #result {
            display: -webkit-flex;
            margin-top: 5px;
            margin-bottom: 20px;
            padding: 0px;
            padding-left: 60px;
            font-family: 'Poppins', sans-serif;
            color:  rgb(54, 134, 255);
            font-size: 15px;
        }
        .radio-group input[type='radio'] {
            font-size: 5px;
            appearance: none;
            width: 2px;
            height: 2px;
            border: 1px solid #999;
            border-radius: 50%;
            outline: none;
            box-shadow: 0 0 5px #999;
            transition: box-shadow 0.3s ease;
        }

        .color-guess {
            display: flex;
            align-items: center;
            margin-bottom: 10px; 
        }
        #checkGuess {
            margin-left: 100px;
            margin-top: 20px;
            font-size: 15px;
            padding: 10px;
        }
        #startgame{
            align-items: center;
            font-size: 15px;
            margin: auto;
            padding: 20px;
        }
        #snip1533{
            flex-direction: column;
        }
        #testimonialsnew{
            display: inline-flex;
            width: 100%;
            height: 10%;
            margin: 0;
        }

        #gobacknewbutton {
            position: inherit;
            margin: 20px;
            display: inline-block;
            outline: 0;
            cursor: pointer;
            border: none;
            padding: 0 56px;
            height: 45px;
            line-height: 45px;
            border-radius: 7px;
            background-color: #0070f3;
            color: white;
            font-weight: 400;
            font-size: 16px;
            box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
            transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
            :hover{
                background: rgba(0,118,255,0.9);
                box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
            }
        
        }
        .soundsmenu {
            font-family:'Poppins', sans-serif;
            padding: 0px;
            margin: auto;
        }
        #howtoplaygame{
            font-size: 18px;
        }
        #howtoplaygame p{
            padding: 5px;
        }
        #settingicon {
            margin: 20px;
            padding-right: 200px;
            margin-bottom: 10px;
        }

    
}


#startbuttondiv {
    display: none;
}




.menu li a:hover {
    color: #ffffff;
    font-weight: bold;/* Change color on hover */
}

/* Add this section to style the logo */
.logo:hover {
    color: #c6c6c6; /* Change color on hover */
}